/* Planning: 1) Navigation Bar, 2) Home Page, 3) Skills & Experience, 4) Projects, 5)Testimonials & 6) Contact */
/* 1) Navigation Bar CSS */
/* Navigation Bar - Media Query Preparation: a)Desktop 1280x720, 1920x1080, b)Mobile 360x640, 414x896, c)Tablet 601x962, 1280x800  */
/* Navigation Bar Media Query a) Desktop */
/* Media Query - 1280x720 */
@media screen and (max-width: 1280px) {
    .navigationBar {
        justify-content: center;
    }
}

/* Media Query - 1920x1080 */
@media screen and (max-width: 1920px) {
    .navigationBar {
        justify-content: center;
    }
}
/* a)Desktop Media Query END */

/* Navigation Bar Media Query b) Mobile */
/* Media Query - 360x640 */
/* Portrait */
@media only screen and (device-width: 360px) and (orientation: portrait) {
    .navigationBar {
        justify-content: center;
    }
}
/* Landscape */
@media only screen and (device-width:640px) and (orientation: landscape) {
    .navigationBar {
        justify-content: center;
    }
}

/* Media Query - 414x896 */
@media only screen and (min-device-width: 414px) and (max-device-width: 800px) {
    .navigationBar {
        justify-content: center;
    }
}
/* b)Mobile Media Query END */

/* Navigation Bar Media Query c)Tablet */
/* Media Query - 601x962 */
/* Portrait */
@media only screen and (min-device-width: 601px) and (max-device-width:962px) and (orientation: portrait) {
    .navigationBar {
        justify-content: center;
    }
}

/* Landscape */
@media only screen and (min-device-width: 962px) and (max-device-width: 962px) and (orientation: landscape) {
    .navigationBar {
        justify-content: center;
    }
}

/* Media Query - 1280x800 */
@media screen and (max-width: 1280px) {
    .navigationBar {
        justify-content: center;
    }
}
/* c)Tablet Media Query END */
/* Navigation Bar Notes
1st Content Check: Complete
2nd Content Check: Navigation Bar not moving.
3rd Check:
4th Check:
*/